.navbar-collapse .navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown-menu > li > a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
@media (max-width: 767px) {
    .navbar-default {
        max-height: 80px;
   }
}
@media (max-width: 767px) {
    .navbar-header {
        padding: 1em 0;
        max-height: 80px;
   }
}
.navbar-collapse[style] {
    height: 0 !important;
}
.navbar-collapse {
    font-size: 12px;
}
@media (max-width: 767px) {
    .navbar-collapse {
        border: none;
   }
}
@media (max-width: 767px) {
    .navbar-collapse .navbar-nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 80px 0 0 0;
        padding: 0;
        overflow: hidden;
        min-width: 13em;
   }
}
@media (min-width: 768px) {
    .navbar-collapse .navbar-nav {
        float: right;
   }
}
/* NAV LIST ITEMS */
@media (min-width: 768px) {
    .navbar-nav .dropdown {
        min-width: 7em;
        margin-left: 1px;
   }
}
@media (min-width: 768px) {
    .navbar-nav .dropdown:first-child, .navbar-nav .dropdown:last-child {
        min-width: 6.5em;
   }
}
@media (min-width: 768px) {
    .navbar-nav .dropdown:first-child {
        margin-left: 0;
   }
}
@media (min-width: 768px) {
    .navbar-nav .dropdown:last-child {
        margin-right: 0;
   }
}
/* NAV LINKS */
.dropdown-toggle {
    background-color: #111;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .dropdown-toggle {
        transition: background-color 0.25s;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-align: center;
   }
    .dropdown-toggle:hover {
        background-color: #f53200;
   }
}
@media (min-width: 1200px) {
    .dropdown-toggle {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
   }
}
.dropdown-menu > li > a {
    padding-left: 1em !important;
    padding-right: 1em !important;
    line-height: 3 !important;
    transition: background-color 0.25s, color 0.5s 0.25s, border-color 0.75s 1s;
}
@media (max-width: 767px) {
    .dropdown-menu > li > a {
        background-color: #333;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
   }
}
@media (min-width: 768px) {
    .dropdown-menu > li > a {
        color: transparent;
        background-color: transparent;
   }
}
.open .dropdown-menu a {
    border-top-color: rgba(255, 255, 255, .1);
    border-bottom-color: rgba(0, 0, 0, .95);
}
@media (min-width: 768px) {
    .open .dropdown-menu a {
        color: #fff;
   }
}
/* TOGGLE BUTTON */
.navbar-default .navbar-toggle {
    background-color: #444;
    width: 22px;
    height: 100%;
    width: 3em;
    height: 2.5em;
    position: relative;
}
.navbar-default .navbar-toggle:before, .navbar-default .navbar-toggle:after {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 1;
    z-index: 1;
}
.navbar-default .navbar-toggle:before {
    content: " \00D7";
    border: none;
    box-shadow: none;
    font-size: 32px;
    color: #f53200;
}
.navbar-default .navbar-toggle:after {
    content: "Menu";
    position: absolute;
    margin-top: -18px;
    color: #000;
}
.navbar-default .collapsed:before {
    content: "";
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 4px 0 0 #444, 0 6px 0 0 #ccc;
    margin: 10px 8px 15px;
}
.navbar-default .collapsed:hover, .navbar-default .collapsed:focus {
    border-color: #777;
}
.navbar-default .collapsed:hover:before, .navbar-default .collapsed:focus:before {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    box-shadow: 0 4px 0 0 #ddd, 0 6px 0 0 #aaa;
}
/* Submenu */
.navbar-nav .dropdown-menu {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
    transition: padding-bottom 0.75s cubic-bezier(0.6, 0.4, 0.25, 0.75), background-color 2s;
}
@media (max-width: 767px) {
    .navbar-nav .dropdown-menu {
        display: block;
        font-size: 11px;
        position: static;
        left: auto;
        margin: 0;
   }
}
@media (min-width: 768px) {
    .navbar-nav .dropdown-menu {
        left: -9999px;
        display: block;
        font-size: 12px;
        min-width: 176px;
        background-color: rgba(0, 0, 0, .5);
        margin-top: -1px !important;
   }
}
@media (min-width: 768px) {
    .dropdown:last-of-type .dropdown-menu {
        margin-left: -85%;
   }
}
@media (min-width: 768px) {
    .open .dropdown-menu {
        left: 0;
        right: 0;
        background-color: rgba(51, 51, 51, .96);
   }
}
@media (min-width: 768px) {
    .navbar-collapse .caret {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
   }
}
.open[class*="itemcount-1"] .dropdown-menu {
    padding-bottom: 44px;
}
.open[class*="itemcount-2"] .dropdown-menu {
    padding-bottom: 88px;
}
.open[class*="itemcount-3"] .dropdown-menu {
    padding-bottom: 132px;
}
.open[class*="itemcount-4"] .dropdown-menu {
    padding-bottom: 176px;
}
.open[class*="itemcount-5"] .dropdown-menu {
    padding-bottom: 220px;
}
.open[class*="itemcount-6"] .dropdown-menu {
    padding-bottom: 264px;
}
.open[class*="itemcount-7"] .dropdown-menu {
    padding-bottom: 308px;
}
.open[class*="itemcount-8"] .dropdown-menu {
    padding-bottom: 352px;
}
.open[class*="itemcount-9"] .dropdown-menu {
    padding-bottom: 396px;
}
.open[class*="itemcount-10"] .dropdown-menu {
    padding-bottom: 440px;
}
h1 {
    text-transform: none;
    color: #000;
    font-family: "Noto Serif", "Lucida Bright", Georgia, serif;
    font-weight: 400;
    letter-spacing: -1px;
    word-spacing: 1px;
    line-height: 1;
    margin: -0.125em 0 0 0;
}
html {
    font-size: 16px;
}
body {
    font: 10.1818181818px "Noto Sans", "Lucida Grande", "Lucida Unicode", "Calibri", sans-serif;
}
